/*
 * CREATED BY
 *
 * Jesus 'Pokoi' Villar
 * © pokoidev 2019 (pokoidev.com)
 *
 * Creative Commons License:
 * Attribution 4.0 International (CC BY 4.0)
 *
 */

body{
    background: #1c1f23;
}

::-webkit-scrollbar{
    width : 2px;
    height: 1px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #eee;
}

::-webkit-scrollbar-thumb:hover{
    background: #ddd;
}

::-webkit-scrollbar-corner{
    background: transparent;
}

.codingScreen{
    display              :          grid;
    z-index              :             5;
    grid-template-columns:      1fr auto;
}

.widgetsContainer{
    padding: 5px;
}

.editorContainer{
    display           :     grid;
    grid-template-rows: 1fr auto;
}

.codeStat{
    border-top    : 1px solid #2d3239;
    font-size     :               8pt;
    color         :           #0c998f;
    background    :           #141517;
    font-family   :         Helvetica;
    text-transform:         uppercase;
}

.currentLang{
    float      :             right;
    width      :       fit-content;
    padding    :               7px;
    border-left: 1px solid #2d3239;
}

.widgetsDrawer button{
    display      :                 block;
    height       :                  30px;
    width        :                  35px;
    margin-bottom:                  15px;
    cursor       :               pointer;
    border       : 2px solid transparent;
    outline      :                     0;

}

.widgetsDrawer button:hover{
    box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.19);
}

#esne{
    background     : url("../img/esne.png") 50% 50% no-repeat;
    background-size:                                    cover;
}

#github{
    background     : url("../img/github.png") 50% 50% no-repeat;
    background-size:                                      cover;
}
